* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
  height: 100%;
  width: 100%;
  background-image: url("./tanjiro-kamado-fire-3840x2160-24474.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
main .bottom {
  width: 100%;
  height: 50px;
  background-color: rgba(40, 39, 39, 0.735);
  position: absolute;
  
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.bottom .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.icons i {
  padding: 4px;
  font-size: 30px;
  color: white;
}
.icons i:hover {
  background-color: rgba(96, 96, 96, 0.514);
  padding: 4px;
  border-radius: 3px;
}
.icons i:active {
  scale: 0.8;
  transition: all 0.2s ease;
}

.icons .search {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 50px;
  padding: 3px 100px 3px 15px;
  gap: 10px;
}

.search i {
  color: black;
  font-size: 16px;
}
.search i:hover {
  background-color: transparent;
}
.icons .micro {
  color: #01a9e8;
}

.icons .youtube {
  color: #f70000;
}
.icons .folder {
  color: #f7c241;
}
.icons .linked {
  color: #0270ad;
}
.icons .spotify {
  color: #1dd05d;
}
main .start-menu {
  position: absolute;
  background-color: rgba(46, 44, 44, 0.952);
  backdrop-filter: blur(15px);
  height: 85%;
  width: 40%;
  bottom: -100%;
  left: 30%;
  border-radius: 10px;
  padding-inline: 30px;
  padding-top: 30px;
  opacity: 1;
  overflow: hidden;
  transition: bottom 0.5s ease;
  
}
.start-menu.active{
    bottom: 10%;
}
.start-menu .search {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px 30px;
  width: 100%;
  gap: 15px;
  font-size: 16px;
}
.start-menu .search i {
  font-size: 18px;
  background: linear-gradient(90deg, #17a3d5, #20e475);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.start-menu .pinned {
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding-inline: 40px;
}
.pinned .all-app {
  background-color: rgba(53, 53, 53, 0.927);
  padding: 5px 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pinned .all-app p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 0;
  font-weight: 100;
  font-size: 14px;
}
.pinned .all-app i {
  font-size: 18px;
  font-weight: 100;
  display: flex;
  align-items: center;
}
.start-menu .app-icons {
  display: flex;
  align-items: center;
  gap: 60px;
  color: white;
  padding-inline: 40px;
  margin-top: 40px;
  text-align: center;
}

.start-menu .app-icons img {
  width: 40px;
  cursor: pointer;
}
.start-menu .app-icons p {
  font-size: 14px;
  font-weight: 100;
}
.admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(35, 34, 34, 0.945);
  backdrop-filter: blur(15px);
  position: absolute;
  height: 60px;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-inline: 40px;
}
.admin .admin-detail {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  font-size: 16px;
  font-weight: 100;
}
.admin .admin-detail img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-position: center;
}
.admin i {
  color: white;
  font-size: 20px;
}
main .right-click {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 50%;
  width: 18%;
  background-color: rgb(255, 250, 250);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  gap: 5px;
  opacity: 0;
}
.right-click .common {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px;
}
.common i {
  font-size: 25px;
}
.common div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.right-click .common:hover {
  background-color: rgba(241, 240, 240, 0.906);
  padding: 3px 10px;
  border-radius: 10px;
}

main .main {
  width: fit-content;
  padding: 20px;
  display: flex;

  flex-direction: column;
  gap: 15px;
}

.main .mains {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  font-weight: 100;
  text-align: center;
  padding: 5px 8px;
}
.main .mains img {
  width: 60px;
}
.main .mains p {
  width: 100px;
}
.mains:hover {
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 10px;
}
