* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 6rem;
  justify-content: space-between;
}
nav h1 {
  font-weight: 500;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav ul li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}
nav ul li:nth-child(1) {
  border: 0.05rem solid rgba(151, 146, 146, 0.644);
  border-radius: 2rem;
}
nav ul li.list {
  border: 0.05rem solid transparent;
  border-radius: 2rem;
}
nav ul li.list:hover {
  border: 0.05rem solid rgba(151, 146, 146, 0.644);
  border-radius: 2rem;
}
nav p {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 300;
  border: none;
  cursor: pointer;
}
nav button i {
  font-size: 1.4rem;
}
.main {
  width: 100%;
  padding: 1rem 6rem;
}
.main .upper {
  position: relative;
}
.main .upper img {
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 1rem;
}

.main .upper .content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  height: 100%;
  padding: 1rem;
}
.content .top {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .top h1 {
  font-size: 3rem;
  font-weight: 400;
}
.content .top p {
  font-size: 1.2rem;
  font-weight: 300;
}
.content .top .button {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 300;
  border: none;
  width: fit-content;
  margin-top: 0.8rem;
  cursor: pointer;
}
.content .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 7%;
}
.content .bottom .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.bottom .left p {
  font-weight: 300;
}
.left .profile {
  display: flex;
  backdrop-filter: blur(1rem);
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.502);
}
.left .profile img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.bottom .right {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 5rem;
}
.right p {
  font-weight: 300;
  cursor: pointer;
}

.right p i {
  font-size: 1.4rem;
}

.about {
  padding: 2rem 6rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.about .right p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  border: 0.05rem solid rgba(151, 146, 146, 0.644);
  border-radius: 2rem;
}
.about .left p {
  font-size: 1.5rem;
}
.feature {
  padding: 2rem 6rem;
}
.feature .cards {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.feature .cards .card {
  height: 20rem;
  width: 24rem;
  border-radius: 2rem;
}
.cards .card-1 {
  background-color: #0c1728;
  padding: 1.5rem 2.5rem;
}
.cards .card-1 img {
  width: 4rem;
}
.card-1 p {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.card-1 p span {
  color: #b6c3e8ce;
}
.card-1 .toggle {
  position: relative;
  width: 3rem;
  height: 1.4rem;
}
.toggle input {
  display: none;
}
.toggle label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.toggle .dot-white {
  content: "";
  position: absolute;
  top: 50%;
  left: 0rem;
  transform: translateY(-50%);
  height: 1rem;
  width: 1rem;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}
.toggle .dot-white .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.4rem;
  width: 0.4rem;
  background: #1e90ff;
  border-radius: 50%;
}
.toggle input:checked + label {
  background-color: #1e90ff;
}
.toggle input:checked + label .dot-white {
  left: 1.6rem;
}
.card-1 .bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-1 .bottom h3 {
  color: #b6c3e8ce;
  font-weight: 400;
}
.card-2 {
  overflow: hidden;
  position: relative;
}
.card-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-2 p {
  position: absolute;
  font-weight: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.4rem;
  white-space: nowrap;
  background: linear-gradient(
    to right,
    rgba(255, 254, 254, 0.486),
    rgba(255, 254, 254, 0)
  );
  backdrop-filter: blur(0.2rem);
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 0.01rem solid rgba(255, 254, 254, 0.247);
}
.card-3 {
  display: flex;
  flex-direction: column;
  background-color: #edf1f9;
  padding: 1.5rem 2.5rem;
  gap: 1rem;
}

.card-3 .top h1 {
  font-size: 4rem;
  font-weight: 400;
}
.card-3 .top h5 {
  font-size: 1.3rem;
  font-weight: 400;
}
.card-3 .top p {
  font-weight: 300;
}
.card-3 .bottom {
  display: flex;
  flex-direction: column;

  gap: 0.8rem;
}
.card-3 .bottom > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-3 .bottom p:first-child {
  width: 6rem;
}
.circles {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex: 1;
}
.card-3 .bottom p:last-child {
  width: 2rem;
  text-align: right;
}
.begi .circle,
.inter .circle,
.adv .circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #1e90ff;
}
.states{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem 0rem 3rem 0rem ;
 
  border-bottom: 0.03rem solid rgba(151, 146, 146, 0.283);
}
.states .numbers{
  display: flex;
  gap: 8rem;
  text-align: center;
}
.states h1{
  font-size: 1.7rem;
  font-weight: 400;
}
.states .numbers > div h2{
  font-size: 2.3rem;
  font-weight: 400;
}
.states .numbers > div p{
  font-size: 1.1rem;
  font-weight: 300;
}
.services{
  padding: 4rem 6rem;
}
.service{
  display: flex;
  align-items: center;
  gap: 7rem;
}
.services .service .card {
  height: 17rem;
  width: 22rem;
  border-radius: 2rem;
}
.service .card1{
  
  display: flex;
  flex-direction: column;
 
  
}
.service .card1 p:nth-child(1){
   font-size: 1.2rem;
  font-weight: 400;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  border: 0.05rem solid rgba(151, 146, 146, 0.644);
  border-radius: 2rem;
  width: fit-content;
}
.card1 p:nth-child(2){
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.card1 p:nth-child(3) {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 300;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin-top: 2.3rem;
}
.card1 p:nth-child(3) i {
  font-size: 1.2rem;
}
.card2 {
  overflow: hidden;
  position: relative;
}
.card2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card2>p {
 
  font-weight: 300;
  position: absolute;
  top: 6%;
  left: 6%;
  color: white;
  white-space: nowrap;
  background: linear-gradient(
    to right,
    rgba(255, 254, 254, 0.486),
    rgba(255, 254, 254, 0)
  );
  backdrop-filter: blur(0.2rem);
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 0.01rem solid rgba(255, 254, 254, 0.247);
}
.card2 .bottom {
  position: absolute;
  left: 6%;
  bottom: 6%;
  display: flex;
  align-items: center;
  gap: 6rem;
  
} 
.card2 .bottom p{
  color: white;
}
.card2 .bottom i{
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: black;
  border-radius: 50%;
}
.card3{
  position: relative;
}
.card3 img{
  width: 100%;
  height: 55%;
  object-fit: cover;
  border-radius: 1rem;

}
.card3 .top{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 1.4rem;
}
.card3 .top p:nth-child(1){
  font-weight: 300;
  color: white;
  width: fit-content;
  background: linear-gradient(
    to right,
    rgba(255, 254, 254, 0.486),
    rgba(255, 254, 254, 0)
  );
  backdrop-filter: blur(0.2rem);
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 0.01rem solid rgba(255, 254, 254, 0.247);
}
.card3 .top p:nth-child(2){
  color: white;
  margin-top:4rem;
}
.card3 .bottom p{
  margin-top: 0.3rem;
}
.card3 .bottom .arrow{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;

}
.card3 .bottom .arrow i{
  font-size: 1.4rem;
  padding: 0.3rem;
  border: 0.01rem solid rgba(151, 147, 147, 0.607);
  border-radius: 50%;
}



