* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  padding: 50px 100px;
  anchor-name: --some-anchore;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;
  z-index: 9;
  color: white;
  mix-blend-mode: difference;
}

.main ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main ul li {
  font-size: 20px;
  list-style: none;
  font-weight: 600;
  padding: 8px 15px;
  text-align: center;
}
li:hover {
  anchor-name: --some-anchore;
}

.anchore {
  
  background-color: rgb(240, 235, 235);
  border-radius: 10px;
  position: absolute;
  position-anchor: --some-anchore;
  top: anchor(top);
  bottom: anchor(bottom);
  left: anchor(left);
  right: anchor(right);
  pointer-events: none;
  transition: all 0.5s linear;

}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.box {
  max-width: 300px;
  padding-inline: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  z-index: 9;
}
.box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  z-index: 9;
}
.box h1 {
  white-space: nowrap;
  font-size: 23px;
}

.box-1 {
  box-shadow: 0 0 0px orangered;

  background: linear-gradient(rgb(40, 39, 39)) padding-box,
    conic-gradient(
        from var(--rotate),
        rgb(40, 39, 39),
        rgb(40, 39, 39),
        orangered,
        rgb(40, 39, 39)
      )
      border-box;
  border: 0px solid rgba(15, 15, 15, 0);
  animation: borderAnimate 6s infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  text-shadow: 0 0 0px orangered;
  transition: all 0.3s linear;
}
.box-1:hover {
  animation-play-state: running;
  border-width: 5px;
  box-shadow: 0 0 50px orangered;
  color: orangered;
  text-shadow: 0 0 10px orangered;

  anchor-name: --some-anchore;
}
.box-2 {
  box-shadow: 0 0 0px red;
  background: linear-gradient(rgb(40, 39, 39)) padding-box,
    conic-gradient(
        from var(--rotate),
        rgb(40, 39, 39),
        rgb(40, 39, 39),
        red,
        rgb(40, 39, 39)
      )
      border-box;
  border: 0px solid rgba(15, 15, 15, 0);
  animation: borderAnimate 6s infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  text-shadow: 0 0 0px red;
  transition: all 0.3s linear;
}
.box-2:hover {
  animation-play-state: running;
  border-width: 5px;
  box-shadow: 0 0 50px red;
  color: red;
  text-shadow: 0 0 10px red;
  anchor-name: --some-anchore;
}
.box-3 {
  box-shadow: 0 0 0px rgb(41, 143, 183);
  background: linear-gradient(rgb(40, 39, 39)) padding-box,
    conic-gradient(
        from var(--rotate),
        rgb(40, 39, 39),
        rgb(40, 39, 39),
        rgb(41, 143, 183),
        rgb(40, 39, 39)
      )
      border-box;
  border: 0px solid rgba(15, 15, 15, 0);
  animation: borderAnimate 6s infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  text-shadow: 0 0 0px rgb(41, 143, 183);
  transition: all 0.3s linear;
}
.box-3:hover {
  animation-play-state: running;
  border-width: 5px;
  box-shadow: 0 0 50px rgb(41, 143, 183);
  color: rgb(41, 143, 183);
  text-shadow: 0 0 10px rgb(41, 143, 183);
  anchor-name: --some-anchore;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
}
