*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    display: block;
   
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
main p {
    width: 80%;
    color: rgb(95, 255, 47);
    text-align: center;
    word-wrap: break-word;
    font-size: 2.5rem;
}