:root{
    --pri:#F8F4E1;
    --sec:#2a1303;
    --tri1:#FEBA17;
    --tri2:#74512D;
    --red:red;
    --green:rgb(9, 138, 89);
    --blue:rgb(0,191,255);
}

@font-face {
    font-family:aeonik;
    font-weight:400;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: var(--tri2);
    
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
}
.elem{
    background-color: #FEBA17;
    height: 320px;
    width: 280px;
    font-size:30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
    
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-family: 500;
    font-size:30px;
}
.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: #2a1303;
    padding:40px ;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.back{
    position: absolute;
    background-color: var(--red);
    right: 5%;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.back:active{
    scale: 0.97;
}

.todo-list-fullpage h2{
    font-size: 50px;
}
.todo-list-fullpage .todo-container{
    height: 70%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
   width: 33%;
   height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.todo-container .addTask form input#task-input{
    padding: 10px 25px;
    width: 100%;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form textarea{
    padding: 10px 25px;
    width: 100%;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form button{
    padding: 10px 25px;
    width: 100%;
    font-size: 22px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 700;
    transition: all 0.3s ease;
}
.todo-container .addTask form button:active{
    scale: 0.97;
}
.todo-list-fullpage .todo-container .allTask{
     width: 65%;
   height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    overflow: auto;
}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.task h5{
    color: var(--sec);
    font-size: 30px;
    display:flex ;
    align-items: flex-start;
    gap: 6px;
}
.task h5 span{
    background-color: var(--red);
    color: var(--pri);
    font-size: 12px;
    padding: 3px 7px ;
    border-radius: 5px;
}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
    padding: 15px 30px;
    color-scheme: var(--pri);
    background-color: green;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    transition: all 0.3s ease;
}
.task button:active{
    scale: 0.97;
}
.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    margin-bottom:20px;
    width: 100%;
    gap: 30px;
}
.mark-imp input{
    scale: 1.7;
    outline: none;
    border: 0;
}
.mark-imp label{
   font-size: 22px;
}

.daily-planner-fullpage h2{
    font-size: 50px;
}
.daily-planner-fullpage .day-planner{
  background-color: var(--tri2);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
  

}
.daily-planner-fullpage .day-planner .day-planner-time{
    
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}
.day-planner .day-planner-time p{
    position: absolute;
    top: 10%;
    left: 2%;
    font-size: 18px;
    color: var(--tri1);
}
.day-planner .day-planner-time input{
    padding: 20px 45px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 22px;
    padding-top: 30px;
    outline: none;
}


.motivation-fullpage-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.motivational-fullpage .motivation-container{
    height: 450px;
    width: 70%;
     position: relative;
}

.motivational-fullpage .motivation-container::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    scale: 1.1;
    z-index: 8;
    filter: blur(100px);
    background-color: var(--tri1);
}
.motivational-fullpage .motivation-container .motivation-wrapper{
    z-index: 10;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    padding: 25px;
    background-color: var(--tri1);
    border: 6px solid var(--tri2);
}
.motivational-fullpage .motivation-container .motivation-wrapper img{
   position: absolute;
   height: 70px;
   right: 5%;
   top: 5%;
   opacity: 0.4;
}
.motivation-1{
    display: flex;
     align-items: center;
     justify-content: flex-start;
     
    
}
.motivation-1 h2{
    background-color: var(--tri2);
    padding: 15px;
    width: fit-content;
     border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
}
.motivation-2{
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 30px;

}
.motivation-2 h1{
    font-size: 45px;
    font-weight: 700;
    color: var(--sec);
}

.motivation-3{
    
     display: flex;
     align-items: center;
     justify-content: flex-end;
}
.motivation-3 h2{
    background-color: var(--tri2);
    padding: 15px;
    width: fit-content;
     border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    
}

.pompdoro-fullpage{
    position: relative;
}

.pomodoro-fullpage h2{
    font-size: 50px;
}
.pomodoro-fullpage .pomo-timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.pomo-timer h1{
    font-size: 120px;
}
.pomo-timer button{
    background-color: var(--tri2);
    padding: 10px 25px;
    font-size: 25px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 5px 5px 0px rgb(31, 31, 31);
    transition: all 0.3s ease;
    cursor: pointer;
}
.pomo-timer button:active{
   scale: 0.97;
    box-shadow: 0px 0px 0px rgb(31, 31, 31);
} 
.pomodoro-fullpage .session{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--tri1);
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 700;
    background-color: var(--green);
}