*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
@property --rotate{
   syntax: "<angle>";
   initial-value: 0deg;
   inherits: false;
}

@keyframes borderAnimate {
    from{
        --rotate:0deg;
    }
    to{
    --rotate:360deg;
    }
}

.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 0px rgb(255, 0, 162);
    border-radius: 15px;
    background: 
    linear-gradient( black) padding-box,
    conic-gradient(from var(--rotate) ,black,black,rgb(255, 73, 188),black) border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    animation: borderAnimate 6s infinite ;
     animation-timing-function: linear;
     animation-play-state: paused;
     text-shadow: 0 0 0px rgb(255, 73, 188);
     transition: all 0.3s linear;
    
}
.box img{
    width: 100%;
}
.box:hover{
    
    animation-play-state: running;
    border-width: 5px ;
     box-shadow: 0 0 30px rgb(255, 0, 208);
     color: rgb(255, 73, 188);
     text-shadow: 0 0 10px rgb(255, 73, 188);
}

