*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
   overflow: hidden;
   position: relative;
}
:root{
    --x:400px;
    --y:400px;
}

.box{
    height: 100%;
    width: 100%;
    background:radial-gradient(200px at var(--x) var(--y) , rgba(255, 255, 255, 0) , rgba(0, 0, 0, 0.89) );
    position: absolute;
    top: 0;
    left: 0;
}
